# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/



.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.log

build/
dist/

*.egg-info/
.eggs/

*.sqlite3-journal

.coverage
htmlcov/

.DS_Store
Thumbs.db
